pyrogram-dev==2.1.0
py-tgcalls==1.2.9
parse-torrent-name
tgcrypto
yt-dlp
youtube-search-python
httpx==0.23.0
youtube-search
heroku3
pillow
motor
dnspython
pytz
apscheduler
python-dotenv
aiohttp
aiofiles
Pyromod
